SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [api].[Contacts_Item]
    @Data varchar(10)
AS
SELECT Id, FullName, Email, Notes
FROM Contacts
WHERE Id = CAST(@Data AS int)
FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
GO
