@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? ErrMsg { get; set; }
}
<h2 class="text-capitalize">@Title</h2>
@if (!String.IsNullOrEmpty(ErrMsg))
{
    var errMsgClass = ErrMsg.StartsWith("Error") ? "danger" : ErrMsg.StartsWith("Warning") ? "warning" : "success";
    <div class="alert alert-@errMsgClass" role="alert">
        @ErrMsg
    </div>
}
